name: Action Test

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      # 以上为默认情况
      - labeled
  
jobs:
  Welcome:
    runs-on: ubuntu-latest
    env:
      TEST_RENDER: ${{ contains(github.event.pull_request.labels.*.name, 'test-render') }}
    steps:
      - name: echo labels
        run: echo "${{ toJSON(github.event.pull_request.labels.*) }}"
      - name: need render?
        run: echo "${{ env.TEST_RENDER }}" "${{ !env.TEST_RENDER }}!"
      - name: hi2!
        if: ${{ !env.TEST_RENDER }}
        run: echo "hi"
      - name: render!
        if: ${{ env.TEST_RENDER }}
        run: echo "render!"
